.gif{
    background-image:url(https://media.giphy.com/media/gdNmEIkMm2wUpspdTf/giphy.gif) ;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
}


body{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size:20px !important;
    margin-top:30px!important;
  }
  

  header .nav-link{
      color:rgb(10, 10, 10);
      font-weight: bold;
      
  }
  header{
      background-color: #fff;
  }

  .nav-link a:hover,
  .nav-link a:active,
  .nav-link a:focus{
      border-bottom:2px solid #0c0c0c;
  }

  a:active,
  a:focus,
  a:hover{
      color: rgb(102, 101, 101) !important;
  }

  a{
      color: #000000 !important;
  }
.bg-color{
    background-color: rgb(179, 176, 176) !important;
}
  .menu-icon{
      width:100%;
      max-width:20px;
  }

  *{
      outline: none !important;
  }



  @media screen and (max-width: 480px){

    .gif{
background-size: cover;
font-weight: bold;
color: #fff;
    }
    .gif a{
        color:#fff !important;
    }

    
  }